<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nombre</key>
		<string>The Killers</string>
		<key>fechaNacimiento</key>
		<date>1995-04-22T00:56:13Z</date>
		<key>albumes</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Hot Fuss</string>
				<key>anho</key>
				<integer>2004</integer>
				<key>cover</key>
				<string>killers1.jpg</string>
				<key>canciones</key>
				<array>
					<dict>
						<key>titulo</key>
						<string>Somebody told me</string>
						<key>duracion</key>
						<integer>254</integer>
						<key>orden</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Battle Born</string>
				<key>anho</key>
				<integer>2012</integer>
				<key>cover</key>
				<string>killers3.jpg</string>
				<key>canciones</key>
				<array>
					<dict>
						<key>titulo</key>
						<string>Heart of a girl</string>
						<key>duracion</key>
						<integer>190</integer>
						<key>orden</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>Miss atomic bomb</string>
						<key>duracion</key>
						<integer>185</integer>
						<key>orden</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>Here with me</string>
						<key>duracion</key>
						<integer>200</integer>
						<key>orden</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>Heart and bone</string>
						<key>duracion</key>
						<integer>110</integer>
						<key>orden</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Sam&apos;s Town</string>
				<key>anho</key>
				<integer>2006</integer>
				<key>cover</key>
				<string>killers2.jpg</string>
				<key>canciones</key>
				<array>
					<dict>
						<key>titulo</key>
						<string>Exitlude</string>
						<key>duracion</key>
						<integer>90</integer>
						<key>orden</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>All the pretty faces</string>
						<key>duracion</key>
						<integer>190</integer>
						<key>orden</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>Why do I keep counting</string>
						<key>duracion</key>
						<integer>260</integer>
						<key>orden</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>This river is wild</string>
						<key>duracion</key>
						<integer>220</integer>
						<key>orden</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>For reaons unknown</string>
						<key>duracion</key>
						<integer>150</integer>
						<key>orden</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nombre</key>
		<string>U2</string>
		<key>fechaNacimiento</key>
		<date>1984-07-14T00:56:13Z</date>
		<key>albumes</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>How to Dismantle an Atomic Bomb</string>
				<key>anho</key>
				<integer>2004</integer>
				<key>cover</key>
				<string>u21.jpg</string>
				<key>canciones</key>
				<array>
					<dict>
						<key>titulo</key>
						<string>Yawee</string>
						<key>duracion</key>
						<integer>215</integer>
						<key>orden</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>City of blinding lights</string>
						<key>duracion</key>
						<integer>180</integer>
						<key>orden</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>Vertigo</string>
						<key>duracion</key>
						<integer>250</integer>
						<key>orden</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>Man and a Woman</string>
						<key>duracion</key>
						<integer>130</integer>
						<key>orden</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Libido</string>
		<key>fechaNacimiento</key>
		<date>1997-04-03T00:56:13Z</date>
		<key>albumes</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Pop*porn</string>
				<key>anho</key>
				<integer>2003</integer>
				<key>cover</key>
				<string>libido2.jpg</string>
				<key>canciones</key>
				<array>
					<dict>
						<key>titulo</key>
						<string>Vampiro</string>
						<key>duracion</key>
						<integer>210</integer>
						<key>orden</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>Esther Fe</string>
						<key>duracion</key>
						<integer>230</integer>
						<key>orden</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>Hembra</string>
						<key>duracion</key>
						<integer>180</integer>
						<key>orden</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Hembra</string>
				<key>anho</key>
				<integer>2001</integer>
				<key>cover</key>
				<string>libido1.jpg</string>
				<key>canciones</key>
				<array>
					<dict>
						<key>titulo</key>
						<string>No voy a verte más</string>
						<key>duracion</key>
						<integer>200</integer>
						<key>orden</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>En esta habitación</string>
						<key>duracion</key>
						<integer>130</integer>
						<key>orden</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>titulo</key>
						<string>Hembra</string>
						<key>duracion</key>
						<integer>180</integer>
						<key>orden</key>
						<integer>1</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
